name: Go
on: [push]
jobs:
  test:
    name: Test (${{ matrix.go }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.15", "1.16", "1.17"]
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/checkout@v2

      - run: go test -race ./...

  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest